################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/Api/bin
/Api/obj/Debug
/Dal/bin/Debug
/Dal/obj/Debug
/Data/bin/Debug
/Data/obj/Debug
/Lib/bin/Debug
/Lib/obj/Debug
